*{
    box-sizing: border-box;
}
.calculadora{
    width: 350px;
    background-color: black;
    padding: 5px;
}
#painel{
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
}
#numeros button{
    height: 40px;
    width: 25%;
    
}
#numeros{
    display: flex;
    flex-wrap: wrap;
    
}